.sectionComponent{
    width: 70%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    
}
.sectionComponent form{
    width: 60%;
    min-width: 300px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
}
.sectionComponent form label{
    display: flex;
    flex-direction: column;
    margin: 10px;
    
}
.sectionComponent form input{
    width: 100%;
    min-height: 25px;
    font-size: 20px;
}
.sectionComponent form input[type="submit"]{
    min-width: 90px;
    background-color: #ccc;
    border: solid 1px black;
    color: white;
    width: 80px;
    font-size: 15px;
    border-radius: 2px;
    background-color: green;
}
.conteinerbuttons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.conteinerbuttons button{
    background-color: #ccc;
    border: solid 1px black;
    color: black;
    padding: 3px;
    background-color: yellow;
    font-size: 15px;
    border-radius: 2px;
}