.Toastify__toast {
    background-color: #333 !important;
    color: #fff !important;
  }
  
  .Toastify__toast--info {
    background-color: #3498db !important;
  }
  
  .Toastify__toast--success {
    background-color: #2ecc71 !important;
  }
  
  .Toastify__toast--warning {
    background-color: #f1c40f !important;
  }
  
  .Toastify__toast--error {
    background-color: #e74c3c !important;
  }
  
  .Toastify__progress-bar {
    background: #fff !important;
  }