
.table{
    width: 80%;
    background-color: #ccc;
    min-height: 500px;
    margin: 0px auto;
    position: absolute;
    top: 80%;
    border: solid 1px rgb(140, 138, 138);

}
.lineTittle{   
    width: 100%; 
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: black;

}
.PrimaryLine{    
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.PrimaryLine div{
    border: solid 1px black;
    flex: 1;
}
.line{
    color: white;
    min-height: 50px;
    display: flex;
    border-bottom:solid 1px black;
    align-items: center;
    justify-content: center;
}
.line div,.PrimaryLine div{
    width: 30%;
    text-align: center;
    flex: 1;
    color: black;

}
.line div a{
    color: black;
}
